@model ArticoliGratis.Models.Lavoro;
@{
    ViewData["Title"] = "Amministrazione";
}



<form asp-controller="Administration" asp-action="Edit_LavoriUtenti" method="post">
    <input type="hidden" asp-for="idLavoro" />
    Nome Lavoro:  <input asp-for="NomeLavoro" > <br />
    <span asp-validation-for="NomeLavoro" class="text-danger"></span><br/>
    Descrizione Lavoro: <input asp-for="DescrizioneLavoro" /><br/>
    <span asp-validation-for="DescrizioneLavoro" class="text-danger"></span><br/>
    <button type="submit">Inserisci</button>
</form>



