@using ArticoliGratis.Models;

@model Provincia;
@{
    ViewData["Title"] = "Amministrazione";
}

<div class="row">
    <div class="col-md-12">
        <div id="categorieArticoli">
        <h3>Modifica @Model.NomeProvincia</h3>
    </div>
 </div> 
 
 <form asp-controller="Administration" asp-action="Provincia_Edit" method="post">
    <input type="hidden" asp-for="idProvincia" />
    <div class="form-group col-md-12">
        <label asp-for="NomeProvincia" class="control-label col-md-4"></label>
        <div class="col-md-4">
            <input asp-for="NomeProvincia" class="form-control" />
            <span asp-validation-for="NomeProvincia" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group col-md-12">
        <label asp-for="DescrizioneProvincia" class="control-label col-md-4"></label>
        <div class="col-md-4">
            <input asp-for="DescrizioneProvincia" class="form-control" />
            <span asp-validation-for="DescrizioneProvincia" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group col-md-12">
        <label asp-for="Regione" class="control-label col-md-4"></label>
        <div class="col-md-4">
              <select asp-for="Regione.idRegione"  
                      class="form-control"   
                      asp-items="@(new SelectList(@ViewBag.regioni,"idRegione", "NomeRegione"))">  
               </select> 
        </div>
    </div>


    <div class="form-group col-md-12">
        <div class="col-md-offset-2 col-md-8">
            <button type="submit">Inserisci</button>
            <input type="button" value="Indietro" onclick="location.href='@Url.Action("CategoriaAzienda", "Administration")'" />
        </div>
    </div>
</form>



